doctype html
html(lang="en")
  include includes/head.pug
  body
    h1 Pug - node template engine
    div
      p
        a(href="app.html") Link to app
      p You are amazing
      p Get on it!
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.